{% extends 'base.html' %}

{% block title %} Estimator {% endblock %}


{% block body %} 

<div class="mx auto text-center">
    <h1 class="display-4">CREATE AN ESTIMATE </h1>


    <form action="/estimate" method="POST">
        <label for="tRadius">Tank Radius:</label><br>
        <input type="number" id="tRadius" name="tRadius" placeholder="Radius in feet" min="0" step=".01" autofocus required><br>
        <label for="tHeight">Tank Height:</label><br>
        <input type="number" id="tHeight" name="tHeight" placeholder="Height in feet" min="0" step=".01" required><br>
        <br>
        <input type="submit" value="submit">
    </form>
</div>

{% if tankCost %}
    <h3 class="mx auto text-center">Tank Cost: {{tankCost}}</h3>
{% endif %} 


{% endblock %}